.projects {
  &--slider__slide {
    width: 350px;
    height: 300px;
    background-color: $white;
    margin: 0 1.5rem;
  }

  .container--large {
    position: relative;
  }

  @media screen and (min-width: $laptop) {
    &-header {
      margin-left: 3rem;
      margin-bottom: 1.5rem;
    }
  }
}
